h1 {
  padding-top: 30px;
}

#myPicture {
  padding: 35px;
}

#namecardcontainer {
  background-image: url(../src/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; /* make this fixed after a certain point*/

  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 10%;
  padding-right: 10%;
}

.btn-primary:focus,
.btn-primary:active {
  /* remove button outline*/
  box-shadow: none !important;
  outline: 0px !important;
}

.card-body .btn {
  margin-bottom: 10px;
}

#namecard {
  border-radius: 25px;
}

#fullname {
  padding-top: 0px;
  font-size: 50px;
}

#namecardtext {
  font-size: 25px;
  margin-bottom: 15px;
}

#osu {
  display: none;
}

h5 {
  padding-top: 15px;
}

button {
  outline: none;
}

.tech {
  font-size: normal;
  background-color: powderblue;
  width: min-content;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  margin-right: 5px;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #f4d6b0;
}

footer p a {
  font-size: 20px;
  text-decoration: none;
  margin-right: 7px;
  margin-left: 7px;
  white-space: nowrap;
}

.projectlink {
  padding-right: 10px;
  text-decoration: none;
  font-size: 50px;
}

.experiencepicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.otherheaders {
  border-bottom: 3px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.experiencetitle {
  padding-top: 0px;
}
.social-media-icon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.centerdiv {
  /*height:50px;*/
  display: flex;
  align-items: center;
}

.right-align {
  float: right;
}

.experiencebutton {
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.experiencebody {
  padding: 26px;
  padding-top: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
  #namecardcontainer {
    padding-left: 5%;
    padding-right: 5%;
  }

  #myPicture {
    padding: 25px;
  }

  #fullname {
    padding-top: 0px;
    font-size: 40px;
  }

  #namecardtext {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #namecardcontainer {
    padding-left: 5%;
    padding-right: 5%;
  }
  #myPicture {
    padding: 25px;
  }

  #fullname {
    padding-top: 0px;
    font-size: 40px;
  }

  #namecardtext {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #namecardcontainer {
    padding-left: 5%;
    padding-right: 5%;
  }
  #myPicture {
    padding: 18px;
  }

  #fullname {
    padding-top: 0px;
    font-size: 30px;
  }

  #namecardtext {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #namecardcontainer {
    padding-left: 5%;
    padding-right: 5%;
  }
  #myPicture {
    padding: 50px;
    padding-bottom: 0px;
  }

  #fullname {
    padding-top: 0px;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #namecardtext {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-body .btn {
    margin-bottom: 0px;
  }

  h5 {
    padding-top: 0px;
  }

  .card-body {
    margin: 10px;
  }

  .experiencebody {
    margin: 0px;
  }

  .projects-title {
    margin-bottom: 0px;
  }

  .tech {
    line-height: 38px;
  }
}
