<footer class="flex flex-row bg-white justify-center py-6">
  <h2 class="text-black text-xl">Contact me!</h2>
  <!-- <div id="footer" class="container">
    <h2>Contact me!</h2>
    <p class="mb-1">
      <a href="https://github.com/Epicsteve2" target="_blank"
        ><i class="fa fa-github"></i>&nbsp;Github</a
      >
      <a
        href="https://www.linkedin.com/in/stephen-guo-399959192/"
        target="_blank"
        ><i class="fa fa-linkedin-square" aria-hidden="true"
        ></i>&nbsp;Linkedin</a
      >
      <a href="mailto:steve.guo@mail.utoronto.ca"
        ><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</a
      >
      <a
        href="https://github.com/Epicsteve2/LaTeX-Files/raw/main/pdf/StephenGuo_Resume.pdf"
        ><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;Resume</a
      >
    </p>
  </div> -->
</footer>
