<!-- <div class="bg-transparent mt-5 border-solid border-2 border-white shadow-xl max-w-3xl mx-auto rounded-xl flex md:flex-row flex-col items-center justify-start">
  <figure class="">
    <img
      class="w-48 object-cover md:h-auto md:w-48 rounded-lg"
      src="/src/pictures/profile-picture.png"
      alt="Stephen Guo"
    />
  </figure>
  <div class="flex flex-col justify-between p-4 leading-normal bg-base-100">
    <h1 class="text-xl">Stephen Guo</h1>
    <p>
      UTSC 2019 - 2024 <small class="text-gray-100">(expected)</small>
    </p>
    <p>Computer Science - Software Engineering stream</p>
    <p>3.65 cGPA</p>
  </div>
</div> -->
<div
  class="bg-transparent p-5 max-w-3xl mx-auto rounded-xl flex flex-col sm:flex-row"
>
  <!-- <figure class="object-contain bg-black rounded-full"> -->
  <svg viewBox="0 0 50 50" width="100%" class="max-sm:rounded-t-xl sm:rounded-l-xl">
    <defs>
      <pattern id="img1" width="30" height="30">
        <image
          href="/src/pictures/profile-pic-tree-purple-hat-cropped-square.png"
          x="0"
          y="0"
          width="30"
          height="30"
        />
      </pattern>
      <mask id="mask" x="0" y="0" width="50" height="50">
        <rect x="0" y="0" width="50" height="50" fill="#fff"></rect>
        <circle cx="25" cy="25" r="15"></circle>
      </mask>
    </defs>
    <circle cx="25" cy="25" r="15" fill="#000" fill-opacity="0.6"></circle>
    <circle
      cx="25"
      cy="25"
      r="15"
      fill="url(#img1)"
      style="-webkit-filter: drop-shadow(0.5px 0.5px 0 white)
        drop-shadow(-0.5px 0.5px 0 white)
        drop-shadow(0.5px -0.5px 0 white)
        drop-shadow(-0.5px -0.5px 0 white);"
    ></circle>
    <!-- fill="url(#img1)" -->
    <rect x="0" y="0" width="50" height="50" mask="url(#mask)" fill="#fff"></rect>
  </svg>
  <!-- <img
    class="max-sm:rounded-t-xl sm:rounded-l-xl w-48"
    src="/src/pictures/profile-pic-tree-purple-hat-cropped-square.png"
    alt="Stephen Guo"
  /> -->
  <!-- </figure> -->
  <div class="bg-white max-sm:rounded-b-xl sm:rounded-r-xl">
    <h1 class="text-2xl text-black">Stephen Guo</h1>
    <p class="text-black">
      UTSC 2019 - 2024 <small class="text-gray-800">(expected)</small>
    </p>
    <p class="text-black">Computer Science - Software Engineering stream</p>
    <p class="text-black">3.65 cGPA</p>
  </div>
</div>
