<!-- border-solid border-2 border-white -->
<div class="bg-transparent mt-5 border-solid border-2 border-white shadow-xl max-w-3xl mx-auto rounded-xl flex md:flex-row flex-col items-center justify-start">
  <figure class="">
    <!-- <svg viewBox="0 0 200 200" width="100%">
    </svg> -->
    <img
      class="w-48 object-cover md:h-auto md:w-48 rounded-lg"
      src="/src/pictures/profile-picture.png"
      alt="Stephen Guo"
    />
  </figure>
  <div class="flex flex-col justify-between p-4 leading-normal bg-base-100">
    <h1 class="text-xl">Stephen Guo</h1>
    <p>
      UTSC 2019 - 2024 <small class="text-gray-100">(expected)</small>
    </p>
    <p>Computer Science - Software Engineering stream</p>
    <p>3.65 cGPA</p>
  </div>
</div>
